.stats-form-container {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  min-width: 300px;
}

.stats-form-row {
  display: flex;
  justify-content: stretch;
}

.stats-field-group {
  display: flex;
  padding: 20px;
  flex-direction: column;
  flex: 1;
  max-width: 50%;
}

.stats-field-label {
  margin: 5px 10px 5px 5px;
  min-width: 100px;
}

.stats-field-input {
  flex: 1;
}

/* .stats-date-input {
  flex: 1;
  margin: 5px;
} */

#stats-date-label {
  text-align: center;
}

.stats-dates-container {
  display: flex;
  flex-direction: row;
  padding-right: 0;
  justify-content: center;
  align-items: center;
  height: 38px;
}

.stats-date-input {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.start-date {
  flex: 1;
  text-align: center;
  max-width: 50px;
  border: 1px solid grey;
  border-radius: 10px;
}

.end-date {
  flex: 1;
  text-align: center;
  max-width: 50px;
  border: 1px solid grey;
  border-radius: 10px;
}


input.stats-field-input {
  min-height: 38px;
}

#search-box {
  height: 38px;
  border: 1px solid grey;
  border-radius: 5px;
}

.stats-clear-all-container {
  display: flex;
  flex: 1;
  padding: 20px;
  justify-content: center;
  align-items: flex-end;
}

.stats-clear-all {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  height: 40px
}

.stats-clear-all-active {
  background-color: lightsalmon;
  border: 1px solid black;
}

.stats-unique-label-container {
  display: flex;
  justify-content: center;
  min-width: 100px;
}

.stats-unique-label {
  margin: 5px 10px 5px 5px;
  padding-left: 20px;
  min-width: 100px;
}

.stats-unique-input {
  display: flex;
  justify-content: center;
}



#unique-field {
  padding-left: 0;
}

/* Tooltip container */
.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.5s ;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 400px) {
  .start-date {
    flex: 1;
    text-align: center;
    max-width: 75px;
    border: 1px solid grey;
    border-radius: 10px;
  }

  .end-date {
    flex: 1;
    text-align: center;
    max-width: 75px;
    border: 1px solid grey;
    border-radius: 10px;
  }
}

@media (min-width: 1100px) {
  .stats-form-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    background-color: lightgray;
    border: 2px solid black;
  }

  .stats-field-group {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    padding: 20px;
    flex: 1;
  }

  .stats-form-row {
    flex: 1;
    display: flex;
  }

  .stats-field-label {
    margin: 5px 0;
    min-width: 100px;
  }

  .stats-field-input {
    flex: 1;
  }

  .stats-clear-all-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
  }

  .stats-unique-label-container {
    display: flex;
    justify-content: center;
  }

  .stats-unique-input {
    display: flex;
    justify-content: center;
  }

  #unique-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


.start-date {
  flex: 1;
  width: 80px;
}

.end-date {
  flex: 1;
  width: 80px;
}

  /* #date-unique-row {
    max-width: 300px;
  } */
}