/* Note: most map styling is done using the style prop */

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-title {
  font-family: inherit;
  font-size: 1rem;
  margin-bottom: 10px;
}

.popup-number {
  font-family: inherit;
  font-size: 1rem;
  color:grey;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  border-radius: 10px;
  border: grey solid 1px;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border: none;
}

.cluster-marker-all {
  color: white;
  background: #8d48fb;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cluster-marker-my-stats {
  color: white;
  background: #FB5E10;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
