
.filter-open-button-row {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  border: 1px solid black;
  border-radius: 10px;
  background: lightgray;
}

.filter-panel {
  border: 1px solid black;
  padding: 0;
  width: auto;
}
